<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>MTD280 Example</title>
<script src="lib/jquery-3.3.1.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>
<script src="lib/backbone.localStorage-min.js"></script>

<style>

#appDiv .edit {
	display: none;
}

#appDiv li.editing .edit {
	display: inline;
}

#appDiv li.editing .view {
	display: none;
}

</style>

</head>

<body>
<h1>MTD280 Example: Backbone View</h1>

<div id="appDiv">

<ul id="entries"></ul><br>

<textarea id="content"></textarea><br>
<button id="save">Save</button>
<button id="clear">Clear</button>

</div>

<hr>
<p style="font-size:small">
MTD280 Online Multimedia<br>
<a href="http://www.fh-ooe.at/mtd">Media Technology and Design</a>
</p>

<script type="text/template" id="entryTemplate">
<button class="delete">x</button>
<em><%= date %></em>: <span class="view"><%- contents %></span>
<input class="edit" type="text" value="<%= contents %>">
</script>

<script src="entry.js"></script>
<script src="entryList.js"></script>
<script src="entryView.js"></script>
<script src="appView.js"></script>
<script src="script.js"></script>
</body>
</html>
